.donut-chart-container {
    position: relative;
}

.donut-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    /* control spacing */
    margin-top: 0px; /* distance from top of container */
    margin-bottom: 1px; /* distance from donut chart */
}


/* Inner label (smaller text) */
.donut-inner-label {
    font-size: 1.2rem;
    font-weight: normal;
    fill: #e74c3c;
    cursor: pointer;
}

/* Inner value (larger text) */
.donut-inner-value {
    font-size: 3.4rem;
    font-weight: bold;
    fill: #e74c3c;
    cursor: pointer;
}


/* Size configurable via inline style from component */
